body {
    margin: 0;
    font-family: Arial;
    background: #111;
    color: white;
}

header {
    background: linear-gradient(90deg, #9c0000, #f28a00);
    padding: 15px;
    text-align: center;
}

h1, h2 {
    margin: 10px;
}

main {
    padding: 20px;
}

#estoque, #pedido {
    background: #1a1a1a;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    border-radius: 5px;
    border: none;
    background: #222;
    color: white;
}

button {
    width: 100%;
    padding: 10px;
    background: #f28a00;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#lista-itens div {
    background: #222;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
}
